<article class="card-container">
  <header class="header-label">
    <h3>{{listCards.title}}</h3>
  </header>

  <Section class="card-image-container">
    <img class="card-image"
         src="../../assets/images/card-image.jpg" alt="card-image">
  </Section>

  <section class="content-text">
    <span>{{listCards.content}}</span>
  </section>

  <footer class="footer-label">
    <span>{{listCards.footer}}</span>
  </footer>
</article>
