:host {
  width: 300px;
  margin: 40px 0;
}

.card-container {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.header-label {
  padding: 5px 20px;
}

.card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-image {
  width: 80%;
}

.content-text {
  padding: 20px;
}

.footer-label {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 5px 0;
}
