<article class="app-container">
  <span class="header-label">Laboratorio 2</span>

  <ng-template ngFor let-listCard [ngForOf]="listCards">
    <app-card [listCards]="listCard"></app-card>
  </ng-template>
</article>

